<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);

body {
  background-color: antiquewhite;
}

.card {
  background-color: #f4f4f4;
  width: 300px;
  margin: 10px auto;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}

.card-header {
  overflow: hidden;
  width: 100%;
  max-height: 200px;
}

.card-header img{
  width: 100%;
}

.card-content {
  width: 85%;
  margin: 35px auto;
}

.card-content h3 {
  font-size: 25px;
  margin-bottom: 0;
  color: #303F9F;
  font-family: 'Montserrat', sans-serif;
}

.card-content h4 {
  font-size: 14px;
  margin-top: 0;
  color: #FF5252;
  font-family: 'Montserrat', sans-serif;
}

.card-content p {
  color: #727272;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  
}

.card-footer {
  border-top: solid 1px #B6B6B6;
  padding: 5px;
}

.card-footer ul {
  padding: 0;
  width: 90%;
  margin: auto;
  text-align: center;
}

.card-footer ul li{
  display: inline-block;
  list-style: none;
  margin: 5px;
}


</style>

{{> nav/navbar}}
<div class="container">
<div class="card col s12 m5" id ="user-list">
  {{#each users}}
  <div class="card-header" data-id="{{this.id}}">
     <a href="user/{{this.id}}">See my Profile</a>
    <img class ="circle small responsive" src={{this.profile_pic_url}}/>
  </div>
  <div class="card-content">
    <h3>{{this.user_name}}</h3>
    <h4>{{this.bio}} </h4>
    <h4>{{this.email}}email here</h4>
  </div>
  <div class="card-footer">
    <ul>
      <li>
        <a href="#"><i class="fa fa-codepen"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-stack-overflow"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-github"></i></a>
      </li>
    </ul>
  </div>
  {{/each}}
</div>

</div>


{{!-- <br><br>
<ul id="user-list">
  {{#each users}}
  <li data-id="{{this.id}}" class="list-group-item">
    <a href="user/{{this.id}}">
      <div class="container">
        <div class="trip-summary-container s12 l10">
          <div class="profile-pic-container">
            <div class="profile-pic">
              <img src="{{this.profile_pic_url}}" style="float: left;" />
            </div>
          </div>
          <div class="profile-data">
            <h2 class="display-4 profile-name">{{this.user_name}}</h2>
            <h5 class="user-card-city">{{this.hometown}}</h5> <span class="guide-badge blue">Guide</span> <a href="#"><img
                class="contact" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0isRu8iqDzjlJJ2SYvDFcF2dReTmEKnP8mqSyAYv8vE98nYuK"
                alt=""></a>
            <p class="lead">{{this.bio}}</p>
          </div>
        </div>
      </div>
      <br>
      <br>
  </li>
  {{/each}}
</ul>
<a href="/">← Back To Home</a> --}}

