<h1>{{msg}}</h1>
{{#each user}}
<p>
    <strong>ID</strong>: {{user.id}}</p>
<p>
    <p>
        <strong>City</strong>: {{user.user_name}}</p>
    <p>
        <strong>Description:</strong> {{user.DOB}}</p>
    <p>
        <strong>Start Date:</strong> {{user.hobby}}</p>
    <p>
        <strong>End Date:</strong> {{user.interests}}</p>
    {{/each}}
    <a href="/">â† Back To Home</a>