{{> nav/navbar}}
<br><br>
<ul id="trip-list">
    {{#each trip}}
    <li data-id="{{this.id}}" class="list-group-item">
        <a href="trip/{{this.id}}">
            {{!-- {{> trips/trip}} --}}
            <div class="container">
                <div class="trip-summary-container s12 l10">
                    <div class="profile-pic">
                        <img src="https://picsum.photos/640/360" style="float: left;" />
                    </div>
                    <div class="profile-data">
                        <h2 class="display-4 profile-name">{{this.destination}}</h2>
                        <h5>{{this.start_date}}</h5>
                        <p class="lead">{{this.start_date}}</p>
                         <h5>{{this.trip_interests}}</h5>
                    </div>
                    <button class="waves-effect waves-light btn-small delete">remove</button>
                </div>
            </div>
    </li>
    {{/each}}
</ul>
<a href="/">â† Back To Home</a>