<div id="navbar">
  {{> nav/navbar}}
</div>


{{!-- BEGIN USER SUMMARY VIEW --}}

{{!-- {{> userInfo/profile}} --}}

<br>
{{> userInfo/profile}}
<br>
{{!-- END USER SUMMARY VIEW --}}

{{!-- BEGIN USER DETAIL VIEW --}}
<div class="container">
  <ul class="collapsible">
    <li class="active">
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Detailed User Profile</div>
      <div class="collapsible-body">
        <h5>About me:</h5>
        {{!-- testing purpose --}}
        <h5>email:</h5>
        <p>{{user.email}}</p>
        <div class="pill gender">{{user.gender}}</div>
        <div class="pill language">{{user.languages}}</div>
        <h5>Why I’m on Localize</h5>
        <p>{{user.whyOn}}</p>
        <h5>One Amazing Thing I’ve Done</h5>
        <p> {{user.one_Athing}}</p>
        <h5>Favourite Music, Movies, and Books</h5>
        <p>{{user.hobby}}</p>
        <br>
        <hr>
        <br>
        <h5>Countries I’ve Lived In</h5>
        <div class="pill countries">{{user.countries}}</div>
        <h5>What I Can Share with other Localizers</h5>
        <div class="pill share">{{user.what_I_share}}</div>
        <h5>Interests</h5>
        <div>{{user.interests}}</div>
        <br><br>
        <h4 class="center-align">Most Recent Trips:</h4>

        {{#each trips}}

        {{> trips/trip-small}}


        {{/each}}

        <ul class="collection">
          <li class="collection-item avatar">
            <a href="/plantrip" class="collection-item avatar list-group-item">
              <img src="https://picsum.photos/640/360" alt="" class="circle">
              <span class="title"><h5>No Trips Yet</h5></span>
              <p>
                Click to plan a new trip.
              </p>
              {{!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> --}}
            </a>
          </li>
        </ul>


      </div>
    </li>
  </ul>
</div>

<a href="/users"><i class="material-icons medium">People</i>
View All Members
</a>

  
