<style>
  body {}

  .trip-summary-container {
    background: rgb(99, 194, 231);
    color: aliceblue;
    padding: 20px;
    height: 100%;
  }

  .profile-pic {
    float: left;
  }

  img {
    border-radius: 50%;
    margin: auto;
    margin-right: 20px;
  }

  .trip-interests {
    list-style: none;
    display: inline;
  }
  nav .brand-logo {
        color: black;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 800;
        margin-left: 20px;
    }
</style>


<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Localize</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><input type="search" id="address" class="form-control" placeholder="Where to next?" /></li>
        <li><a button type="button" class="btn"><i class="material-icons">account_circle</i></button></a></li>
        <li><a button type="button" class="btn" id="loginBtn">Signout</button></a></li>
      </ul>
    </div>
  </nav>
</div>

<br>
<br>
{{!-- BEGIN USER SUMMARY VIEW --}}
<div class="container">
  <div class="trip-summary-container s12 l10">
    <div class="profile-pic">
      <img src="{{imageURL}}" style="float: left;" />
    </div>
    <h2 class="display-4">{{name}}</h2>
    <h5>{{city}}, {{state}}</h5>
    <p class="lead">{{aboutMe}}</p>
    <div class="interest-tokens">
      <ul>
        {{#each user_interests}}
        <li class="interests" id="{{this.text}}"> <span class="badge badge-pill badge-primary">{{this.text}}</span></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{!-- END USER SUMMARY VIEW --}}

{{!-- BEGIN USER DETAIL VIEW --}}
<div class="container">
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Detailed User Profile</div>
      <div class="collapsible-body">
        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Dicta, cumque! Modi dolores ea quia rerum accusantium illum! Corporis, ea itaque
          voluptatibus laborum quasi aliquam dolorum eligendi hic odit placeat temporibus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni rem hic assumenda quaerat ipsa facere
          aspernatur, earum enim, soluta, maxime id libero itaque exercitationem velit necessitatibus iusto.
          Distinctio, consectetur facilis?</p>

        <div class="container">
          <div class="row">
            <div class="card col s4">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://www.fillmurray.com/100/100">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>

            <div class="card col s4">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://www.fillmurray.com/100/100">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>

            <div class="card col s4">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://www.fillmurray.com/100/100">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
{{!-- END USER DETAIL VIEW --}}