<style>
  body {}

  .trip-summary-container {
    background: rgb(99, 194, 231);
    color: aliceblue;
    padding: 20px;
    height: 100%;
  }

  .profile-pic {
    float: left;
  }

  img {
    border-radius: 50%;
    margin: auto;
    margin-right: 20px;
  }

  .trip-interests {
    list-style: none;
    display: inline;
  }
  nav .brand-logo {
        color: black;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 800;
        margin-left: 20px;
    }
</style>


<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Localize</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><input type="search" id="address" class="form-control" placeholder="Where are we going?" /></li>
                <li><a button type="button" class="btn btn-secondary"><i class="material-icons">account_circle</i></button></a></li>
                <li><a button type="button" class="btn btn-secondary"><i class="material-icons">email</i></button></a></li>
                <li><a button type="button" class="btn btn-secondary" id="loginBtn">Signout</button></a></li>
            </ul>
        </div>
    </nav>
</div>

<br>
<br>
<div class="container">
  <div class="trip-summary-container s12 l10">
    <div class="profile-pic">
      <img src="{{imageURL}}" style="float: left;" />
    </div>
    <h2 class="display-4">{{name}}</h2>
    <h5>{{city}}, {{state}}</h5>
    <p class="lead">{{aboutMe}}</p>
    <div class="interest-tokens">
      <ul>
        {{#each user_interests}}
        <li class="interests" id="{{this.text}}"> <span class="badge badge-pill badge-primary">{{this.text}}</span></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>