
<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);

body {
  background-color: antiquewhite;
}

.card {
  background-color: #f4f4f4;
  width: 300px;
  margin: 10px auto;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}

.card-header {
  overflow: hidden;
  width: 100%;
  max-height: 200px;
}

.card-header img{
  width: 100%;
}

.card-content {
  width: 85%;
  margin: 35px auto;
}

.card-content h3 {
  font-size: 25px;
  margin-bottom: 0;
  color: #303F9F;
  font-family: 'Montserrat', sans-serif;
}

.card-content h4 {
  font-size: 14px;
  margin-top: 0;
  color: #FF5252;
  font-family: 'Montserrat', sans-serif;
}

.card-content p {
  color: #727272;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  
}

.card-footer {
  border-top: solid 1px #B6B6B6;
  padding: 5px;
}

.card-footer ul {
  padding: 0;
  width: 90%;
  margin: auto;
  text-align: center;
}

.card-footer ul li{
  display: inline-block;
  list-style: none;
  margin: 5px;
}

.card-footer ul li i {
  font-size: 2em;
  color: #3F51B5;
}
</style>

<div class="card">
  <div class="card-header">
    <img src={{user.profile_pic_url}}/>
  </div>
  <div class="card-content">
    <h3>{{user.user_name}}</h3>
    <h4>{{user.bio}} </h4>
    <h4>{{user.email}} </h4>
    <p>And now you're back from outer space, / I just walked in to find you here with that sad look upon your face, / I should've changed that stupid lock, I should have made you leave your key, / If I'd have known for just one second you'd be back to bother me. / Go on, now go! Walk out the door...</p>
  </div>
  <div class="card-footer">
    <ul>
      <li>
        <a href="#"><i class="fa fa-codepen"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-stack-overflow"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-github"></i></a>
      </li>
    </ul>
  </div>
</div>


<div class="container">
  <div class="trip-summary-container s12 l10">
    <div class="profile-pic-container">
      <div class="profile-pic">
        <img src="{{user.profile_pic_url}}" style="float: left;" />
      </div>
    </div>
    <div class="profile-data">
      <h2 class="display-4 profile-name">{{user.user_name}}</h2>
      <h5 class="user-card-city">{{user.hometown}}</h5> <span class="guide-badge blue">Guide</span> <a href="#"><img class="contact"
          src="/imgs/kisspng-ipma-email-telephone-message-email-icon-5acf36458d39e5.4305648115235292855785.png" alt=""></a>

      <p class="lead">{{user.bio}}</p>
      <div class="interest-tokens">
        <ul>

          <li class="interest-badge red" id="fish"> <span class="">Fish</span></li>
          <li class="interest-badge red" id="Bars"> <span class="">Bars</span></li>

        </ul>
      </div>
    </div>
  </div>
</div>
<br>

