{{!-- <style>
  body {}

  .trip-summary-container {
    background: rgb(99, 194, 231);
    color: aliceblue;
    padding: 20px;
    height: 100%;
  }

  .profile-pic {
    float: left;
  }

  img {
    border-radius: 50%;
    margin: auto;
    margin-right: 20px;
  }

  .trip-interests {
    list-style: none;
    display: inline;
  }
</style>
<br>
<br>
<br>
<div class="container">
  <div class="trip-summary-container s12 l10">
    <div class="profile-pic">
      <img src="https://www.fillmurray.com/200/200" style="float: left;" />
    </div>
    <h5>{{trip.startDate}}, {{trip.endDate}}</h5>
    <h2 class="city-name display-4">{{trip.destination}}</h1>
      <p class="trip-summary lead">{{trip.remark}}</p>
      <ul>
        {{#each tripInterests}}
        <li class="interests" id="{{this.text}}"> <span class="new badge blue">{{this.text}}</span></li>
        {{/each}}
      </ul>
  </div>
</div>
</div>
</div> --}}

{{!-- kimmy's testing --}}

{{> nav/navbar}}

<div class="container">
<button> Edit Trip</button>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{msg}}</h5>
          <p>
            <strong>ID</strong>: {{trip.id}}</p>
          <p>
            <p>
              <strong>Destination</strong>: {{trip.destination}}</p>
            <p>
              <strong>Highlights of trip: </strong> {{trip.remark}}</p>
            <p>
              <strong>Start Date:</strong> {{trip.start_date}}</p>
            <p>
              <strong>End Date:</strong> {{trip.end_date}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>