<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">{{msg}}</h5>
                    <img src="{{user.profile_pic_url}}" style="float: left;" />


                    <p>
                        <strong>ID</strong>: {{user.id}}</p>
                    <p>
                        <p>
                            <strong>User Name</strong>: {{user.user_name}}</p>
                        <p>
                            <strong>Description:</strong> {{user.email}}</p>
                        <p>
                            <strong>Start Date:</strong> {{user.first_name}}</p>
                        <p>
                            <strong>End Date:</strong> {{user.last_name}}</p>
                        <p>
                            <strong>End Date:</strong> {{user.gender}}</p>
                        <p>
                            <strong>End Date:</strong> {{user.hometown}}</p>
                        <p>
                            <strong>End Date:</strong> {{user.bio}}</p>

                        <a href="/">â† Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- <div class="container">
  <hr>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img src="{{user.profilePicUrl}}" style="float: left;" />
      <h2 class="display-4">{{user.userName}}</h1>
        <h3>{{user.hometown}}, {{user.DOB}}</h3>
        <p class="lead">{{user.bio}}</p> --}}
        {{!-- <div class="interest-tokens">
          <ul>
            {{#each user.interests}}
            <li class="interests" id="{{this.user.interests}}"> <span class="badge badge-pill badge-primary">{{this.}}</span></li>
            {{/each}}
          </ul>
        </div> --}}
    {{!-- </div>
  </div>
</div> --}}