{{> nav/navbar}}

<div class="container">
  <div class="row">
    <div class="col s12">
      <h4 class="centered-headline">{{msg}}</h4>
      <div class="container s12 l12">
        <form action="/api/users" method="POST">

          <div class="row">
            <div class="input-field col s12">
              <input type="text" id="user-name" class="validate">
              <label for="user-name">User Name</label>
            </div>
            <div class="input-field col s12">
              <input type="email" id="user-email" class="validate">
              <label for="user-email" data-error="wrong" data-success="right">Email Address</label>
            </div>
            <div class="input-field col s6">
              <input type="password" id="password" class="validate">
              <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
              <input type="text" id="profile-photo" class="validate">
              <label for="profile-photo" data-error="wrong" data-success="right">Profile Photo URL</label>
            </div>
            <div class="input-field col s12 l6">
              <input type="text" id="first-name" class="validate">
              <label for="first-name">First Name</label>
            </div>
            <div class="input-field col s12 l6">
              <input type="text" id="last-name" class="validate">
              <label for="last-name">Last Name</label>
            </div>
            <div class="input-field col s6">
              <input type="text" id="gender" class="validate">
              <label for="gender">Gender</label>
            </div>
            <div class="input-field col s12 l6">
              <input type="date" id="DOB" class="datepicker">
              <label for="DOB"></label>
            </div>
            <div class="input-field col s12">
              <input type="text" id="hometown" class="validate">
              <label for="hometown">Hometown</label>
            </div>
            <div class="input-field col s12">
              <textarea id="bio" class="materialize-textarea"></textarea>
              <label for="bio">About Me</label>
            </div>
            <div class="input-field col s12">
              <textarea id="languages" class="materialize-textarea"></textarea>
              <label for="languages">What languages do you speak?</label>
            </div>
            <div class="input-field col s12">
              <textarea id="why-on" class="materialize-textarea"></textarea>
              <label for="why-on">Why I am on Localize</label>
            </div>
            <div class="input-field col s12">
              <textarea id="one-A-thing" class="materialize-textarea"></textarea>
              <label for="one-A-thing">One Amazing Thing I've Done</label>
            </div>
            <div class="input-field col s12">
              <textarea id="hobby" class="materialize-textarea"></textarea>
              <label for="hobby">Favourite Music, Movies, and Books</label>
            </div>
            <div class="input-field col s12">
              <textarea id="countries-lived" class="materialize-textarea"></textarea>
              <label for="countries-lived">Countries I’ve Lived In</label>
            </div>
            <div class="input-field col s12">
              <textarea id="what-I-share" class="materialize-textarea"></textarea>
              <label for="what-I-share">What can you share with other Localizers</label>
            </div>
          </div>

          {{!-- KEVIN'S CHECK BOX INTERESTS --}}
          <div class="row">
            <h5 class="centered-headline">What are your interests?</h5>
          </div>

          <div class="row">
            <div class="interests">
              <div class="switch">
                <label>
                  Food
                  <input type="checkbox" name="Food">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Music
                  <input type="checkbox" name="Music">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Shows
                  <input type="checkbox" name="Boat">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Sports
                  <input type="checkbox" name="Sports">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Landmarks
                  <input type="checkbox" name="Landmark">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Monuments
                  <input type="checkbox" name="Monument">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Local Activities
                  <input type="checkbox" name="Local Activity">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Museums
                  <input type="checkbox" name="Museum">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </div>
          {{!-- KEVIN'S CHECK BOX INTERESTS --}}
          <br>
          <div class="row">
            <div class="input-field col s6 center-align">
              <label for="guideStatus">
                <input id="guideStatus" type="checkbox" />
                <span>Are you open to be a guide?</span>
              </label>
            </div>
            <div class="col s6">
              <button id="submitU" class="waves-effect waves-light btn-large">Save
                <i class="material-icons right">send</i>
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>


  {{!-- test of user data --}}

  {{!-- List of entered information will become list of previous users--}}
  <ul id="user-list">
    {{#each users}}
    <li data-id="{{this.id}}" class="list-group-item">
      {{!-- BEGIN USER SUMMARY VIEW --}}
      <a href="user/{{this.id}}">
        <div class="container">
          <div class="trip-summary-container s12 l10">
            <div class="profile-pic">
              <img src="{{this.profile_pic_url}}" />
            </div>
            <h2 class="display-4 profile-name">{{this.user_name}}</h2>
            <h5>{{this.hometown}}</h5>
            <p class="lead">{{this.bio}}</p>
            <div class="interest-tokens">
              <ul>
                {{#each this_interests}}
                <li class="interests" id="{{this.text}}"> <span class="badge badge-pill badge-primary">{{this.text}}</span></li>
                {{/each}}
              </ul>
            </div>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </div>
        </div>
      </a>
      <br>
      {{!-- END USER SUMMARY VIEW --}}
    </li>
    {{/each}}
  </ul>
  {{!-- test of user data --}}

</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/user.js"></script>