<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">{{msg}}</h5>

                    <p>
                        <strong>ID</strong>: {{user.id}}</p>
                    <p>
                        <p>
                            <strong>City</strong>: {{user.user_name}}</p>
                        <p>
                            <strong>Description:</strong> {{user.email}}</p>
                        <p>
                            <strong>Start Date:</strong> {{user.first_name}}</p>
                        <p>
                            <strong>End Date:</strong> {{user.last_name}}</p>
                        <p>
                            <strong>End Date:</strong> {{user.gender}}</p>
                        <p>
                            <strong>End Date:</strong> {{user.hometown}}</p>
                        <p>
                            <strong>End Date:</strong> {{user.bio}}</p>

                        <a href="/">â† Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>