<div class="container">
  <hr>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img src="{{user.profilePicUrl}}" style="float: left;" />
      <h2 class="display-4">{{user.userName}}</h1>
        <h3>{{user.hometown}}, {{user.DOB}}</h3>
        <p class="lead">{{user.bio}}</p>
        <div class="interest-tokens">
          <ul>
            {{#each user.interests}}
            <li class="interests" id="{{this.user.interests}}"> <span class="badge badge-pill badge-primary">{{this.}}</span></li>
            {{/each}}
          </ul>
        </div>
    </div>
  </div>
</div>