<div class="container">
  <hr>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img src="{{user.imageURL}}" style="float: left;" />
      <h2 class="display-4">{{user.name}}</h1>
        <h3>{{user.city}}, {{user.state}}</h3>
        <p class="lead">{{user.aboutMe}}</p>
        <div class="interest-tokens">
          <ul>
            {{#each user_interests}}
            <li class="interests" id="{{this.text}}"> <span class="badge badge-pill badge-primary">{{this.text}}</span></li>
            {{/each}}
          </ul>
        </div>
    </div>
  </div>
</div>